base_url: https://members.worldclass.ro
timezone: Europe/Bucharest
credentials:
  email: 
  password: 
clubs:
  - id: "454"
    name: "Park Lake"
  - id: "458"
    name: "Titan Park"
interests:
  "Park Lake":
    - day: "Miercuri"
      day_english: "Wednesday"
      time: "17:00 - 19:00"
      title: "BODYPUMP"
  "Titan Park":
    - day: "Luni"
      day_english: "Monday"
      time: "18:00 - 19:00"
      title: "PILATES"
